/* 鼠标指针图标bynote.cn */

/* 设置悬停在 banner 上的鼠标指针样式,banner附近有一块点击可以下滑的区域无法显示自定义指针，把主题配置里的scroll_down_arrow 设置为false即可*/
.banner:hover {
    cursor: url('arrow.cur'), auto;
}

body {
    cursor: url('arrow.cur'), auto;
}


/*a标签*/
a{
	cursor: url('arrow.cur'), auto !important;
}
img:hover{
	cursor: url('arrow.cur'), auto !important;
}



/*按钮*/

button:hover {
    cursor: url('arrow.cur'), auto;
}

.copy-btn{
    cursor: url('copy.cur'), auto;
}
.icon-copy:before{
    cursor: url('copy.cur'), auto;
}

/*文字*/

code:hover{
	cursor: url('beam.cur'), auto;
}

#rightside>div>button,
#rightside>div>a {
    display: block;
    margin-bottom: 2px;
    width: 30px;
    height: 30px;
    color: var(--btn-color);
    text-align: center;
    font-size: 16px;
    cursor: url('arrow.cur'), auto;
}


/* 文章标签 */

.layout_post .tag_share .post-meta__tags {
    cursor: url('arrow.cur'), auto;
}


/* 评论区 */

.vcol * {
    cursor: url('beam.cur'), auto;
}

.v[data-class=v] .vicon {
    cursor: url('beam.cur'), auto;
}

.v[data-class=v] .vbtn {
    cursor: url('beam.cur'), auto;
}


/* 回复 */

.vat {
    cursor: url('beam.cur'), auto;
}


/*小图标,代码框复制按钮时的鼠标指针*/

i:hover {
    cursor: url('arrow.cur'), auto;
}


/*up酱*/

#upj:hover {
    cursor: url(https://cdn.jsdelivr.net/gh/EmoryHuang/BlogBeautify/launa/Hand.cur), auto;
}
/*首页右上角三条杠*/
.navbar .animated-icon{
    cursor: url('arrow.cur'), auto;
}


/*分页器*/

pagination .page-number:hover {
    cursor: url('arrow.cur'), auto;
}
/* 分页器的三个点(...) */
.space {
    color: #00c4b6;
}